package template

templ PetQRCode(base64Img string) {
	@doctype() {
		@head("Pet QR Code") {
			<link type="text/css" rel="stylesheet" href="/static/css/pet_qrcode.css"/>
		}
		@body() {
			<main class="pet-qrcode-container">
				<div class="pet-qrcode-wrapper">
					<h2 class="pet-qrcode-header">Escaneie o QR Code para visualizar informações do pet</h2>
					<img class="pet-qrcode-image" src={ "data:image/png;base64," + base64Img } alt="Pet QR Code"/>
				</div>
			</main>
		}
	}
}
