package template

import "github.com/leakedmemory/prototyping-class-project/internal/models"

templ userCard(user *models.User) {
	<div class="container user">
		<image
			class="user-icon"
			src="static/assets/user_icon_256.webp"
			alt="Ícone de usuário"
		></image>
		<div class="user-credentials">
			<span>Nome: { user.Name }</span>
			<span>Email: { user.Email }</span>
			<span>Telefone: { user.Phone }</span>
		</div>
	</div>
}
