.pet-list {
  display: flex;
  flex-direction: column;
}

.pet-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.pet-num {
  font-weight: bold;
}

.show-add-pet-modal-button {
  background-color: var(--pico-primary-inverse);
  border: none;
  padding: 0;
}

.show-add-pet-modal-icon {
  width: 1.4em;
  cursor: pointer;
}

.pets-container {
  max-height: 310px;
  overflow-y: scroll;
  scrollbar-width: none;
  /*needed to display the shadow*/
  padding-bottom: 10px;
}

.pets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: visible;
}
