.container.user {
  position: relative;
}

.user {
  margin-bottom: 25px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.user-card-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 20px;
}

.user-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.logout-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border-style: none;
  padding: 0;
}

.logout-icon {
  width: 1em;
  height: auto;
}

.user-card-credentials {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.user-card-credentials > p {
  margin-bottom: 0;
  font-weight: bold;
}

.user-card-credential {
  font-weight: normal;
}
