body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

main {
  width: 100%;
  max-width: 510px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 35px;
}

.user-icon {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.user-credentials {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.pet-list {
  display: flex;
  flex-direction: column;
}

.pet-header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.pet-num {
  font-weight: bold;
}

.show-pet-modal {
  width: 1.3em;
  cursor: pointer;
}

.pets-container {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.pets {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: visible;
}

.pet {
  display: flex;
  flex-direction: column;
  padding: 5px;
  line-height: 25px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pet-data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pet-data-icon {
  width: 1em;
}

.pet-data {
  padding-left: 5px;
}
