.user {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 35px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.user-icon {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.user-credentials {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
