.petcard {
  border-radius: 20px;
  border-color: var(--black);
  border-style: solid;
  border-width: 2px;
  color: var(--black);
  padding: 14px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.profile-petcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-data-petcard {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-column-petcard {
  display: flex;
  flex-direction: column;
  line-height: 0;
  font-size: 18px;
}
