package template

templ Home(data UserData) {
	@doctype() {
		@head("Home") {
			<link rel="stylesheet" href="/static/css/home.css"/>
			<link rel="stylesheet" href="/static/css/pet_list.css"/>
			<link rel="stylesheet" href="/static/css/user_card.css"/>
			<script type="module" src="/static/js/pet_list.js"></script>
		}
		@body() {
			<main>
				@UserCard(&data)
				@PetListHeader(&data)
				@PetList(&data)
			</main>
			@addPetModal()
			@deletePetModal()
		}
	}
}
