:root {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter[slnt\,wght].ttf);

  --white: #f8f8ff;
  --black: #353535;
  --gray: #828282;
  --crystal-blue:#ABFBF1;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--crystal-blue);
  min-height: 100vh;
  min-width: 100vw;
}

button, input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
