:root {
  font-family: 'Inter';
  src: local('Inter'), url(./assets/fonts/Inter[slnt\,wght].ttf);

  --white: #F8F8FF;
  --black: #353535;
  --gray: #828282;
  --crystal-blue:#ABFBF1;
  --blue-link: #2F72AF;
  --green: #5DBB63;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--crystal-blue);
  min-height: 100vh;
  min-width: 100vw;
}

button, input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.default-icon {
  color: var(--gray);
}

.default-link {
  color: var(--blue-link);
  text-decoration: none;
  font-weight: bold;
}
