:root {
  font-family: "Inter", sans-serif;

  --white: #F8F8FF;
  --total-white: #FFF;
  --black: #353535;
  --pitch-black: #000;
  --gray: #828282;
  --crystal-blue:#ABFBF1;
  --link-blue: #2F72AF;
  --fern-green: #5DBB63;
  --tomato: #FF6347;
  --light-salmon: #FFA07A;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--crystal-blue);
  min-height: 100vh;
  min-width: 100vw;
}

button, input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.default-icon {
  color: var(--gray);
}

.default-link {
  color: var(--link-blue);
  text-decoration: none;
  font-weight: bold;
}
